.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-bg);
  z-index: -1;
}

.hero-content {
  padding-right: 30px;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 16px;
  color: var(--secondary-color);
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 32px;
}

.typed {
  color: var(--primary-color);
  font-weight: 600;
}

.hero-img {
  text-align: center;
}

.hero-img img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  /* box-shadow: var(--box-shadow); */
}

.hero-btns {
  margin-top: 32px;
}

@media (max-width: 991px) {
  .hero {
    text-align: center;
    padding-top: 80px;
    height: auto;
    min-height: 100vh;
  }
  
  .hero-content {
    padding-right: 0;
    margin-bottom: 48px;
  }
  
  .hero h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }
  
  .hero p {
    font-size: 1.25rem;
  }
}

