.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    font-weight: bold;
    margin: 10px 150px;
    height: 20px;
  }
  .logo{
    display: flex;
    gap: 10px;
  }
  .logo img{
    display: inline;
    height: 60px;
    width: 80px;
    margin-top: 10px;
  }
  .logo  h1{
    display: inline;
    color: rgba(5,216,99,255) ;
    margin-top:12px;
  }
  
  .nav_container nav ul {
    list-style-type: none;
    display: flex;
    gap: 5px;
  }
  .nav_container nav ul li{
    margin: 0px 10px;
  }
  .nav_container nav ul li a{
    text-decoration: none;
    color: black;
    padding: 6px 0px;
    
  }
  
  .nav_container .btn {
    height: 30px;
    width: 80px;
    background-color: rgba(6,216,99,255);
    color: white;
    border-radius: 20px;
    border:2px solid rgba(6,216,99,255);
    margin-top: -3px;
    cursor: pointer;
    font-weight: bold;
  }
  .nav_container a:hover{
    color:  rgba(6,216,99,255);
  }
  .nav_container .btn:hover{
    background-color: white;
    color:rgba(6,216,99,255) ;
  }


@media (max-width: 1024px) and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transform:translateX(-40px) ;
    padding: 20px 0px;
  }
  .logo img{
    height: 40px;
    width: 60px;
  }
  .logo h1 {
    font-size: 16px;
    margin-top: 15px;
  }

  nav ul {
    flex-direction: row;
  }

  .nav_container ul li {
    font-size: 14px;
  }
  .nav_container .btn {
    color: white;
    border-radius: 20px;
    font-size: 12px;
    height: 25px;
    width: 60px;
  }
}

/* Mobile styles */
@media (max-width: 767px) {
  .header {
    flex-direction: column;
    text-align: center;
    overflow: hidden;
  }
  .logo img{
    display: inline;
    height: 50px;
    width: 70px;
    transform: translateY(-25px);
  }
  .logo  h1{
    display: inline;
    color: rgba(5,216,99,255) ;
    margin: 0;
  }
  .nav_container {
    width: 100%;
  }

  .nav_container nav ul {
    display: none; /* Initially hide the menu */
    flex-direction: column;
    width: 100%;
  }

  .nav_container nav ul.show {
    display:flex ; /* Show the menu when toggled */
  }

  .nav_container nav ul li {
    margin: 10px 0;
  }

  .header .logo h1 {
    font-size: 18px;
  }

  .nav_container .btn {
    margin-top: 10px;
  }

  .menu-toggle {
    display: block;
    background-color: #333;
    color: #fff;
    border: none;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
  }

  .menu-toggle:hover {
    background-color: #555;
  }
}