.services {
    background-color: rgba(227,251,238,255);
    height: 480px;
    text-align: center;
    padding: 0 80px;
  }
 .service_container{
    padding: 20px 0px ;
    margin: 30px 40px;
    transform: translateX(20px);
 } 
 .service_container h2{
    display: inline-block;
    color: rgba(62,180,117,255);
    font-size: 30px;
 }
 .service_container span{
    font-size: 30px;
    font-weight: bold;
    padding-left: 5px;
    
 }
 
.service_listcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px;
  }
  
.service_listcontainer .service {
    background-color: white;
    width: 400px;
    height: 250px;
    border-radius: 0 25px 0 25px;
    padding: 0 20px;
    margin-right: 30px;
    transition: transform 0.4s ease-in-out, box-shadow 0.4 ease-in-out;
  } 
  .service:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0,0,0.2);
    cursor: pointer;
  }
  .service h3 {
    font-size: 22px;
  }
  .service p{
    font-size: 18px;
  }
  .service_container .service img{
    height: 60px;
    width: 60px;
    margin-top: 30px;
    padding: 0px 10px;
  }
  @media (max-width: 1024px) and (min-width: 768px) {
    .services {
      text-align: center;
      padding: 0 80px;
    }
    .service_container h2{
      font-size: 25px;
    }
    .service_container span{
      font-size: 25px;
    }
    .service h3 {
      font-size: 18px;
    }
    .service p{
      font-size: 14px;
    }
    .service_listcontainer .service {
      width: 300px;
      height: 250px;
    } 
    .service_container .service img{
      height: 40px;
      width: 40px;
      padding: 0;
      border: none;
    }
  }
  @media (max-width: 767px) and (min-width:300px){
    .services {
      background-color: rgba(227,251,238,255);
      height: 580px;
      text-align: center;
      padding: 0;
      overflow: hidden;
    }
   .service_container{
      padding: 10px 0px ;
      margin: 10px 0;
      transform: translate(15px,-10px);
   } 
   .service_container .service_text{
    transform: translateX(-20px);
   }
   .service_container .service_text h2{
      display: inline-block;
      color: rgba(62,180,117,255);
      font-size: 25px;
   }
   .service_container .service_text span{
      font-size: 25px;
      font-weight: bold;
      padding-left: 5px;
   }
  .service_listcontainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: 0;
    }
    
  .service_listcontainer .service {
      background-color: white;
      width: 220px;
      height: 100%;
      border-radius: 0 25px 0 25px;
      padding: 0 10px;
      margin-bottom: 20px;
      transition: transform 0.4s ease-in-out, box-shadow 0.4 ease-in-out;
    } 
    .service h3 {
      font-size: 14px;
      transform: translateY(-10px);
    }
    .service p{
      font-size: 10px;
      transform: translateY(-10px);
    }
    .service_container .service img{
      height: 40px;
      width: 40px;
      margin-top: 10px;
      padding: 10px 0;
    }
  }